<footer id="medical-disclaimer">
    <h2 class="disclaimer-title"><span aria-hidden="true">🚨</span> Do Not Sue Us (Medical Disclaimer) <span aria-hidden="true">🚨</span></h2>
    <p>Look, we are not doctors, scientists, or physical therapists. We are guys on the internet telling you how to look massive in a medium-sized T-shirt. Lifting heavy things is dangerous. Listening to us might be more dangerous. If you tear a pec trying to impress someone, that's on you. Consult a qualified medical professional before starting or changing an exercise program.</p>
</footer>
