---
import SiteHeader from "../components/SiteHeader.astro";
import SiteNav from "../components/SiteNav.astro";
import MedicalDisclaimer from "../components/MedicalDisclaimer.astro";
import "../styles/tokens.css";
import "../styles/global.css";
import "../styles/components.css";

interface Props {
    title: string;
    description: string;
    skipHref?: string;
    skipLabel?: string;
}

const {
    title,
    description,
    skipHref = "#workout-container",
    skipLabel = "Skip to workout",
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <meta name="theme-color" content="#121212" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet" />
        <title>{title}</title>
    </head>
    <body>
        <a class="skip-link" href={skipHref}>{skipLabel}</a>
        <SiteHeader />
        <SiteNav />
        <slot />
        <MedicalDisclaimer />
    </body>
</html>
